.scanInfoHeader{
  color:#37ac92;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

ion-toolbar.header_title{
  --background: #dedede;
  color: #654e29;
  font-weight: bold;
  font-size: 30px;
}

.scanInfoImage{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ion-col.object_type{
  font-weight: bolder;
  width: 10px;
  color: #654e29;
  font-size: 19px;
}
ion-col.object_detail{
  text-align: left;
  font-size: 17px;
  color:#06113C;
}

ion-card.object_card{
  background-color: #EEEEEE;
}
