ion-col.item_type{
    font-weight: bolder;
    width: 20px;
    /*color:#06113C;*/
}
ion-col.item_detail{
    text-align: left;
    /*color: #06113C*/

}
.image{
    width: 50%;
    margin-right: 20px ;
}

/*ion-card.speaker-card{*/
/*   width: 40%;*/
/*   float: left;*/
/*}*/